*.egg-info
*.py[co]
*.sw[op]

/.coverage
/.pytest_cache
/.tox
/venv*
/tmp

.*ignore
!.gitignore
!.dockerignore
.python-version
.vscode
.idea

# Used for local testing
test.py

# cosign
cosign.pub
cosign.key

# OSX
.DS_Store
