coverage==7.0.1
flake8==5.0.4  # 6.0.0+ needs Python 3.8
gibberish-detector==0.1.1
monotonic==1.6
mypy==0.991
pre-commit==2.21.0
pyahocorasick==1.4.4
pytest==7.2.0
pyyaml==6.0
requests==2.28.1
responses==0.22.0
tox==3.27.1  # can't be updated to 4+ due to flake8@5.0.4 needing importlib-metadata<4.3 and tox needs importlib-metadata>=5.1
types-pyyaml==6.0.12.2
types-requests==2.28.11.7
typing-extensions==4.4.0
unidiff==0.7.4
